@model IEnumerable<Car_Rent.Models.Category>

@{
    ViewData["Title"] = "Category List";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Categories</h2>
    <a asp-action="Create" style="margin-top:12px" class="btn btn-success">Create New</a>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead class="table-white">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().CategoryName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-sm btn-info text-white">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
