@model Car_Rent.Models.Car

@{
    ViewData["Title"] = "Car Details";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">Car Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Car Name</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CarName)</dd>

            <dt class="col-sm-3">Brand</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Brand)</dd>

            <dt class="col-sm-3">Model</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Model)</dd>

            <dt class="col-sm-3">License Plate</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.LicensePlate)</dd>

            <dt class="col-sm-3">Image</dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" alt="Car Image" class="img-thumbnail rounded border" style="max-width: 200px;" />
                }
                else
                {
                    <span class="text-muted">No image available</span>
                }
            </dd>

            <dt class="col-sm-3">Rental Price Per Day</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.RentalPricePerDay)</dd>

            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

            <dt class="col-sm-3">Seat Number</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SeatNumber)</dd>

            <dt class="col-sm-3">Energy Type</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.EnergyType)</dd>

            <dt class="col-sm-3">Sell Date</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SellDate)</dd>

            <dt class="col-sm-3">Engine Type</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.EngineType)</dd>

            <dt class="col-sm-3">Distance Traveled</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DistanceTraveled)</dd>

            <dt class="col-sm-3">Transmission Type</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TransmissionType)</dd>

            <dt class="col-sm-3">Category</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Category.CategoryId)</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.CarId" class="btn btn-primary">Edit</a>
        <a asp-action="AdminIndex" class="btn btn-secondary ms-2">Back to List</a>
    </div>
</div>
