@model Car_Rent.Models.Review

@{
    ViewData["Title"] = "Review Details";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">Review Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Rating)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Rating)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Comment)</dt>
            <dd class="col-sm-9" style="white-space:pre-wrap">@Html.DisplayFor(m => m.Comment)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ReviewDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.ReviewDate)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.JobName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.JobName)</dd>

            <dt class="col-sm-3">Car</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Car.CarName)</dd>

            <dt class="col-sm-3">User</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.User.Username)</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.ReviewId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
    </div>
</div>
